<VirtualHost *:80>
  ServerName workvital.co.kr
  ServerAlias www.workvital.co.kr adm.workvital.co.kr api.workvital.co.kr
  DocumentRoot /var/www/eos/public
  Options Indexes FollowSymLinks

  <Directory "/var/www/eos/public">
    AllowOverride All
    Require all granted
  </Directory>

</VirtualHost>
